body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 250px;
}

.title {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin: 24px 0px;
    border: 2px solid black;
}

.border {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 20px;
}

.choices {
    display: flex;
    justify-content: center;
}